<div class="container">

    <h3>メニューを追加する</h3>
    <%= form_tag("/new") do %>
        <div class="form-group">
            <%= label_tag "form-menu", "メニュー"%>
            <%= text_field :gachas, :menu, id:"form-menu", class:"form-control",placeholder:"メニュー" %>
        </div>
        <div class="form-group">
            <%= label_tag "form-pricce", "価格"%>
            <%= text_field :gachas, :price, id:"form-price",class:"form-control",placeholder:"価格 (数字だけ入力してください)" %>
        </div>
        <%= submit_tag "送信",class:"btn btn-primary" %>
    <% end %>
    
    
   

</div>